* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainComtainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* border: 2px solid red; */

}

.subcribeContainer {
    height: 95%;
    width: 40%;
    border: 4px solid white;
    margin-top: 8px;
    margin-left: 8px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    padding-bottom: 2rem;

}

.subcribeContainerHeader {
    height: 10%;
    width: 90%;
    /* border: 2px solid aqua; */
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.subcribeContainerinfo {
    height: 12%;
    width: 90%;
    /* border: 2px solid aqua; */
    background-color: white;
    padding-left: 1rem;
    display: flex;
    align-items: center;


}

.subcribeContainerinfo1 {
    height: 12%;
    width: 90%;
    /* border: 2px solid aqua; */
    background-color: white;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.subcribeContainerinfodiv1 {
    height: 100%;
    width: fit-content;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;


}

.subcribeContainerinfodiv2 {
    height: 100%;
    width: 10%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;

}

.subcribeContainerTerm {
    height: 10%;
    width: 90%;
    /* border: 2px solid aqua; */
    display: flex;


}

.subcribeContainerTerm input {
    height: 60%;
    width: 10%;
    border-radius: 10px;

}

.subcribeContainerTerm p {
    color: white;
    font-size: 12px;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.subcribeContainerSubmit {
    height: 10%;
    width: 90%;
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: center;


}

.subcribeContainerSubmit button {
    height: 75%;
    width: 40%;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 20px;



}